In [6]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_clipboard()

In [9]:
df

   Letter Grade   GPA
0            A+  4.00
1             A  4.00
2            A+  4.00
3             A  4.00
4            B+  3.33
..          ...   ...
78           A+  4.00
79           A+  4.00
80           A+  4.00
81           A+  4.00
82            A  4.00

[83 rows x 2 columns]

In [10]:
df.groupby(['Letter Grade'], as_index=False).count()

  Letter Grade  GPA
0            A   30
1           A+   41
2           A-    6
3            B    1
4           B+    3
5            F    2

In [13]:
1 - (6 / df.shape[0])

0.927710843373494